*{
  padding:0;
  margin:0;
}


@font-face{
  font-family: Urbanist-bold;
  src: url(/fonts/Urbanist-Bold.ttf);
}

@font-face{
  font-family: Urbanist-semiBold;
  src: url(/fonts/Urbanist-SemiBold.ttf);
}

@font-face{
  font-family: Urbanist-medium;
  src: url(/fonts/Urbanist-Medium.ttf);
}

@font-face{
  font-family: Urbanist-regular;
  src: url(/fonts/Urbanist-Regular.ttf);
}

@font-face{
  font-family: Urbanist-regularIT;
  src: url(/fonts/Urbanist-Italic.ttf);
}

@font-face{
  font-family: Urbanist-lightIT;
  src: url(/fonts/Urbanist-LightItalic.ttf);
}

@font-face{
  font-family: Urbanist-light;
  src: url(/fonts/Urbanist-Light.ttf);
}





.menu li:hover{
  border-bottom:2px solid #976D00;
  cursor: pointer;
}

.serviços-box:hover{
  border-bottom: 5px solid #312300;
  cursor: pointer;
}

.tags-box:hover{
  background-color: rgb(255, 202, 67);
  cursor: pointer;
}


.links-importantes img:hover{
  filter: brightness(0) saturate(100%) invert(83%) sepia(43%) saturate(2096%) hue-rotate(339deg) brightness(104%) contrast(94%);
}




